@import "../settings.scss";

.Sidebar {
    width: 80px;
    height: 100%;
    background: $mainDark;
    padding: 20px 0;
    display: none;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    @media screen and (min-width:750px) {
        display: flex;
    }

    .user-icon {
        width: 25px;
        height: 25px;
        padding: 5px;
        border-radius: 100vmax;
        background: white;
    }
}