@import "../settings.scss";

.SearchInput {
    width: 25%;
    display: flex;
    flex-direction: column;

    .contentWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    input {
        height: 30px;
        border-radius: 100vmax;
        border: none;
        background: $mainLight;
    }

    .clearButton {
        color: white;
        border-radius: 100vmax;
        background: $mainDark;
        padding: 5px 10px;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }
}